@charset "UTF-8";

/*PC 960px以下*/
@media screen and (max-width: 1020px) {
  /*memo: 
  PCでwidth:960以下になった際にメニューが端に寄りすぎるので簡易調整(少し多めに)
  */
  nav {
    margin-right: 30px;
  }

  /*memo: 幅が狭くなるとphotoの傾きで見えづらいので0°戻す*/
  .photo_list.in-view-after li:first-of-type {
    transform: rotate(0);
  }

  .photo_list.in-view-after li:last-of-type {
    transform: rotate(0);
  }
}

/*スマートフォン*/
@media screen and (max-width: 599px) {
  nav {
    margin-right: 0;
  }

  .wrapper {
    margin-bottom: 100px;
  }

  .wrapper p,
  header .wrapper {
    margin: 0 1rem;
  }

  /*メインビジュアル*/
  #mainvisual ul,
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  /*About部分*/
  #about .content {
    flex-direction: column;
  }

  #about img {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  #about .text {
    text-align: center;
  }

  /*Photo部分*/
  .photo_list {
    flex-direction: column;
  }

  .photo_list li {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }

  .photo_card {
    box-shadow: none;
  }

  /* Photo ビューポートアニメーション(PC版) */
  .photo_card {
    transform: translateX(-50px);
  }
  .photo_card.in-view {
    opacity: 1;
    transform: translateX(0);
  }
  .photo_list li:nth-of-type(2) .photo_card {
    transition-delay: 0;
  }

  .photo_list li:nth-of-type(3) .photo_card {
    transition-delay: 0;
  }

  /*Works部分*/
  .works_list {
    display: grid;
    grid-template-columns: 1fr; /*強制1列構成にする*/
    column-gap: 0;
    row-gap: 2rem;
  }

  .works_card {
    box-shadow: none;
    padding: 0;

    transform: translateX(-50px);
  }

  .works_card.in-view {
    transform: translateX(0);
  }

  /*ハンバーガーメニューとnavの設定*/
  .nav_btn {
    display: block;
  }
  nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -10; /*tips: mainvisualの背面に行ってしまうので最前面に */
    background-color: rgba(255, 255, 255, 0.9);

    /*移動アニメーション*/
    transform: translateY(-100%);
    transition: transform 0.4s;
  }

  body.is-nav-open nav {
    transform: translateY(0);
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    padding: 40px 0;
  }

  nav li {
    margin-left: 0;
    padding: 0.8rem;
  }

  nav li a {
    font-size: 3rem;
  }
}
