@charset "UTF-8";

/*PC 960px以下*/
@media screen and (max-width: 1020px) {
  /*memo: 
  PCでwidth:960以下になった際にメニューが端に寄りすぎるので簡易調整(少し多めに)
  */
  nav {
    margin-right: 30px;
  }
}

/*スマートフォン*/
@media screen and (max-width: 599px) {
  nav {
    margin-right: 0;
  }

  .wrapper {
    margin-bottom: 100px;
  }

  .wrapper p,
  header .wrapper {
    margin: 0 1rem;
  }

  /*メインビジュアル*/
  #mainvisual ul,
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  /*About部分*/
  #about .content {
    flex-direction: column;
  }

  #about img {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  #about .text {
    text-align: center;
  }

  /*Photo部分*/
  #photo ul {
    flex-direction: column;
  }

  #photo li {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }

  /*ハンバーガーメニューとnavの設定*/
  #menu-icon {
    display: block;
    font-size: 50px;
  }

  #i-deactive {
    display: block;
  }

  #i-active {
    display: none;
  }

  nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -10; /*tips: mainvisualの背面に行ってしまうので最前面に */
    background-color: rgba(255, 255, 255, 0.9);

    display: none;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    padding: 40px 0;
  }

  nav li {
    margin-left: 0;
    padding: 0.8rem;
  }

  nav li a {
    font-size: 3rem;
  }

  /*note: ~ は同じ親要素を持つ後続指定セレクタ…らしい*/
  #menu-toggle:checked ~ label #i-active {
    display: block;
  }

  #menu-toggle:checked ~ label #i-deactive {
    display: none;
  }

  #menu-toggle:checked ~ nav {
    display: block;
  }
}
