/* 
各CSSやJavaScriptから参照する共通定数 
(注意: 全てのCSSより前に読み込む)
*/
:root {
  --color-main: #111;
  --color-font: #14171a;
  --color-font-nav: #24292e;
  /* NOTE:
    CSSの仕様上、@mediaクエリではCSS変数は直接使えないらしいです。
    responsive.cssでは直書きしてます */
  --breakpoint-pc-narrow: 1020px;
  --breakpoint-sp: 599px;
}
